@page "/"
@using AspireTodo.BlazorFrontApp.Components
@using AspireTodo.Todos.Shared
@using Gridify
@inject Todos.HttpClient.ITodosHttpApi TodoApi
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject ILocalStorageService LocalStorage
@inject IToastService Toast

<PageTitle>TodosList - Home</PageTitle>

<div class="w-screen h-screen flex flex-col items-center justify-center">
    <div class="bg-base-300 w-[90%] lg:w-[40%] rounded-xl p-5">
        <h1 class="text-2xl font-bold text-center mb-4">Todo App</h1>
        <div class="divider"></div>
        
        <TodoForm />
        
        @if (Loading)
        {
            <div class="todos-list mt-3 border border-gray-800 rounded-lg p-3">
                <span class="loading loading-spinner"></span>
            </div>
        }
        <TodoList Todos="Todos" Loading="Loading" />
    </div>
</div>

@code
{
    public List<TodoDto> Todos { get; set; } = [];
    public bool Loading { get; set; } = true;
    
    protected override async Task OnInitializedAsync()
    {
        Loading = true;
        
        try
        {
            var token = (await LocalStorage.GetItemAsStringAsync("token"))!;
            var result = await TodoApi.ListAsync(new GridifyQuery(1, 100, ""), token);

            Todos = result.Data.ToList();
        }
        catch (Exception ex)
        {
            Toast.ShowError(ex.Message);
        }

        Loading = false;
        
        await base.OnInitializedAsync();
    }
}
